:root{
    --textos: #6b7280;
    --titulo-negro: #111827;
    --morado: #4f46e5;
    --gris-BG: #f2f2f2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    height: 1000px;
}


/* nav principal */

.nav-principal{
    width: 100%;
    height: 6rem;
    display: flex;
    
    font-size: 1.6rem;
    font-weight: 500;

    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid gray;

    min-width: 375px;
    

}
.nav-principal ul{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-principal ul li{
    list-style: none;
}

.nav-principal ul li a{
    text-decoration: none;
    color: var(--textos);
    
}

.nav-principal ul li a:hover{
    color: var(--morado);
    
}

/* Header */

.cabecera{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;
    border-bottom: 1px solid gray;
    min-width: 375px;

    
}

.cabecera h1{
    font-size: 3rem;
    font-weight: 800;
}
.cabecera h1 span{
    color: var(--morado);
}
.cabecera h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #6b7280;
}
.cabecera p{
    
    width: 33rem;
    
    margin: 0 auto;
    margin-top: 3.5rem;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.cabecera .imagen-perfil{
    margin-top: 3rem;
    
}

.cabecera .imagen-perfil img{
    border-radius: 50%;
    width: 20rem;
    margin-bottom: 13.2rem;
}